/* public style here */
body {
  margin: 0px;
  padding: 0px;
  background: url(../images/tool/setting-background.png); 
}
h1,h2,h3,h4,h5,h6,p,ul,li {
  margin: 0px;
  padding: 0px;
}
.round8 {
  -webkit-border-radius: 8px;
}
.box-shadow {
  -webkit-box-shadow: 0px 0px 3px black;
}
.transparent {
  background: rgba(0,0,0,0.8);
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.align-center {
  text-align: center;
  vertical-align: middle;
}

/* this is the main content part */
header {
  width: 100%;
  height: 32px;
  line-height: 32px;
  top: 0;
  left: 0;
  z-index: 2;
  color: white;
}
#back {
  background: url(../images/tool/home-1.png) no-repeat;
  background-position: -8px -280px;
  padding-left: 20px;
}
#page-name {
  left: 100px;
}

/* wrapper part and scroller */
#wrapper {
  z-index:1;
  top:32px; bottom:0px; left:0;
  width:100%;
  overflow:auto;
}

#scroller {
  z-index:1;
/*  -webkit-touch-callout:none;*/
  width:100%;
  padding:0;
}

/* show item style */
.myshow-item {
  border: 1px solid #999;
  margin: auto auto;
  margin-top: 10px;
  text-align: center;
  background: white;
}
.myshow-item p {
  padding-top: 5px;
  padding-bottom: 5px;
}
.show-detail {
  font-size: 12px;
}
.show-detail span {
  margin-left: 5px;
  margin-right: 5px;
}
.status {
  color: red;
}
