/* public style here */
body {
  margin: 0px;
  padding: 0px;
  background: #999;
}
h1,h2,h3,h4,h5,h6,p,ul,li {
  margin: 0px;
  padding: 0px;
}
.round5 {
  -webkit-border-radius: 5px;
}
.box-shadow {
  -webkit-box-shadow: 0px 0px 3px black;
}
.transparent {
  background: rgba(0,0,0,0.8);
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.align-center {
  text-align: center;
  vertical-align: middle;
}
/*
 *
 * 修改不同屏幕的样式的时候要根据宽度进行修改，这里使用了固定数值
 *
 */
.left {
  position: relative;
  left: 20px;
}
.middle {
  position: relative;
  left: 140px;
  margin-left: -16px;
  background-position: -8px -300px!important;
}
.right {
  position: relative;
  left: 260px;
  margin-left: -16px;
  background-position: -8px -318px!important;
}
.middle1 {
  position: relative;
  left: 70px;
  background-position: 0px -70px!important;
}
.middle2 {
  position: relative;
  left: 120px;
  background-position: 0px -140px!important;
}
.bottom-right {
  position: relative;
  left: 180px;
  margin-left: -16px;
  background-position: 0px -210px!important;
}
#container {
  width: 100%;
  height: 460px;
}
ul {
  list-style: none;
}

/* detail page main content css */
#wrapper {
  width: 320px;
  height: 460px;
  margin: 0px;
  padding: 0px;
  color: white;
}
#back-button {
  padding-top: 16px;
  background: url(../images/tool/home-1.png) no-repeat;
  background-position: -12px -280px;
  padding-left: 14px;
  top: 8px;
  left: 12px;
}
.single-show {
  width: 320px;
  height: 460px;
  background: url(../images/Penguin.jpg) no-repeat;
}
.show-message {
  width: 220px;
  height: 50px;
  top: 8px;
  left: 40px;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
}
#collect-press {
  width: 32px;
  height: 32px;
  background: black;
  top: -15px;
  left: 255px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  z-index: 10;
  -webkit-border-radius: 20px;
  -webkit-box-shadow: 0px 0px 2px black;
  border: 2px solid white;
}
#collect-press:hover {
  width: 32px;
  height: 32px;
  background: blue;
  top: -15px;
  left: 255px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  z-index: 10;
  -webkit-border-radius: 20px;
  -webkit-box-shadow: 0px 0px 2px black;
  border: 2px solid white;
}
.show-Miscellaneou {
  width: 240px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  top: -5px;
  left: 40px;
}
.show-Miscellaneous span {
  margin-right: 5px
}
.free-note {
  -webkit-border-radius: 5px;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  font-size: 11px!important;
  background: rgb(255,151,0);
  margin-left: 50px;
}
/* show detail explain */
#show-detail {
  width: 240px;
  height: 260px;
  top: 1px;
  left: 40px;
  font-size: 12px;
}
.message-box {
  padding: 6px;
}
.title {
  float: left;
  width: 60px;
}
/* message box icons */
.message-box-icon {
  padding-left: 15px;
  padding-top: 3px;
  background: url(../images/tool/message-box-icons.png);
  margin: 5px;
}
.time-icon {
  background-position: 0px -16px!important;
}
.type-icon {
  background-position: 0px -34px!important;
}
.scale-icon {
  background-position: 0px -50px!important;
}
.cha-icon {
  background-position: 0px -67px!important;
}
.price-icon {
  background-position: 0px -84px!important;
}
.explain-icon {
  background-position: 0px -100px!important;
}

.message-box-text {
  width: 160px;
  margin-left: 60px;
}


#single-bottom-bar {
  width: 240px;
  height: 50px;
  top: 380px;
  left: 40px;
  text-align: center;
  line-height: 60px;
}
#single-bottom-bar span {
  padding-left: 30px;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background: url(../images/tool/single-page-cut.png) no-repeat;
  background-position: -15px 0px;
}
/* 详细页面底部按钮 */
#gallery-button:hover {
  background-position: -16px -30px!important;
}
#map-button {
  background-position: -15px -60px!important;
}
#map-button:hover {
  background-position: -15px -90px!important;
}
#share-button {
  background-position: -15px -120px!important;
}
#share-button:hover {
  background-position: -15px -150px!important;
}
#buy-button {
  background-position: 0px -180px!important;
  padding-left: 65px!important;
}
#buy-button:hover {
  background-position: 0px -210px!important;
}

/* 详细页面底部按钮 */
#loader {
  width: 240px;
  height: 4px;
  background: #333;
  top: 440px;
  left: 40px;
}


/* the animation created by css3 */
@-webkit-keyframes fadeIn {
  0% {
  opacity: 0; 
  }
  50% {
  opacity: 0;
  }
  100% {
  opacity: 1;
  }
}
