/* public style here */
body {
  margin: 0px;
  padding: 0px;
  background: black;
}
h1,h2,h3,h4,h5,h6,p,ul,li {
  margin: 0px;
  padding: 0px;
}
.round8 {
  -webkit-border-radius: 8px;
}
.box-shadow {
  -webkit-box-shadow: 0px 0px 3px black;
}
.transparent {
  background: rgba(0,0,0,0.8);
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.align-center {
  text-align: center;
  vertical-align: middle;
}

/* this is the main content part */
/* header part */
header {
  width: 100%;
  height: 32px;
  color: white;
  line-height: 32px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  background: rgba(0,0,0,0.7);
}
#back {
  background: url(../images/tool/home-1.png) no-repeat;
  background-position: -8px -280px;
  padding-left: 20px;
}
#page-name {
  left: 120px;
}
#line {
  left: 200px;
  font-size: 12px;
  padding: 5px;
  background: #333;
  border-top: 1px solid #111;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0px 0px 1px black;
}
