/* public style here */
body {
  margin: 0px;
  padding: 0px;
  background: url(../images/tool/flower-background.png);
}
h1,h2,h3,h4,h5,h6,p,ul,li {
  margin: 0px;
  padding: 0px;
}
.round8 {
  -webkit-border-radius: 8px;
}
.absolute {
  position: absolute;
}
.align-center {
  text-align: center;
  vertical-align: middle;
}
/*
 *
 * 修改不同屏幕的样式的时候要根据宽度进行修改，这里使用了固定数值
 *
 */
.left {
  position: relative;
  left: 20px;
}
.middle {
  position: relative;
  left: 140px;
  margin-left: -16px;
  background-position: -8px -300px!important;
}
.right {
  position: relative;
  left: 260px;
  margin-left: -16px;
  background-position: -8px -318px!important;
}
.middle1 {
  position: relative;
  left: 70px;
  background-position: 0px -70px!important;
}
.middle2 {
  position: relative;
  left: 120px;
  background-position: 0px -140px!important;
}
.bottom-right {
  position: relative;
  left: 180px;
  margin-left: -16px;
  background-position: 0px -210px!important;
}
#container {
  width: 100%;
  height: 460px;
}
ul {
  list-style: none;
}
/* public style here */


/* part of playbill */
#playbill {
  width: 100%;
  height: 192px;
  top: 0;
  left: 0;
  color: white;
  /*
  background: url(../images/test-playbill-white.jpg) no-repeat;
  */
  background-color: black;
}
#playbill-button-list {
  width: 320px;
  position: relative;
  top: 5px;
}
.playbill-button {
  background: url(../images/tool/home-1.png) no-repeat;
  background-position: -8px -280px;
  padding-left: 20px;
}
#playbill-bar {
  position: relative;
  top: 150px;
  color: white;
  background: rgba(0,0,0,0.5);
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
}
#playbill-bar span {
  line-height: 24px;
}

/* part of scroller */
#wrapper {
  width: 320px;
  top: 192px;
  bottom: 0;
  overflow: auto;
  z-index: 1;
}
#scroller {
  position:absolute; 
  z-index: 1;
/*  -webkit-touch-callout:none;*/
  width:100%;
  padding:0;
}
.showList li {
  width: 100%;
  height: 80px;
  border-top: 1px solid white;
  background: rgb(245,245,245);
  margin-top: 2px;
  margin-bottom: 2px;
}
.mini-playbill {
  margin-left: 10px; 
  margin-top: 10px; 
  width: 45px;
  height: 60px;
  background: url(../images/test-playbill.jpg) no-repeat;
  float: left;
}
.show-Miscellaneous {
  width: 300px;
  /* 此处为固定数值，适应屏幕大小的时候修改 */
  font-size: 10px;
  position: relative;
  left: 5px;
  top: 10px;
  vertical-align: middle;
}
.show-Miscellaneous span {
  margin-right: 5px
}
.free-note {
  -webkit-border-radius: 5px;
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
  color: white;
  font-size: 12px!important;
  background: rgb(255,151,0);
  margin-left: 10px;
}
.show-text {
  width: 300px;
  /* 此处为固定数值，适应屏幕大小的时候修改 */
  position: relative;
  left: 5px;
  top: 20px;
  font-size: 15px;
  font-weight: 900;
}


/* part of button list */ 
#float-button {
  bottom: 20px;
  color: white;
  width: 320px;
  height: 32px;
  line-height: 48px;
}
#float-button a {
  padding-left: 35px;
  padding-top: 16px;
  z-index: 12;
  background: url(../images/tool/home-1.png);
}

/* select menu style */
#select-menu {
  width: 255px;
  height: 340px;
  top: 60px;
  left: 20px;
  z-index: 10;
  color: white;
  display: none;
  background: url(../images/tool/select-bar.png) no-repeat;
}
#shade {
  width: 320px;
  height: 460px;
  z-index: 9;
  display: none;
  top: 0px;
  left: 0px;
  background: rgba(0,0,0,0.5);
}
#select-icon {
  float: left;
  width: 35px;
  margin-left: 10px;
  margin-right: 10px;
  height: 300px;
}
#select-icon p {
  background: url(../images/tool/select-bar-icons-min.png) no-repeat;
}
#select-icon p {
  margin-top: 40px;
  padding-left: 35px;
  padding-top: 26px;
  text-align: center;
}
/* select icon style */
.select-location {
  background-position: 0px -112px!important;
}
.select-type {
  background-position: 0px -56px!important;
}
.select-show {
  background-position: 0px -170px!important;
}

/* select icon style */
#select-text {
  width: 200px;
  height: 300px;
  margin-top: 10px;
  margin-left: 55px;
}
#select-text p {
  width: 190px;
  height: 50px;
  color: black;
  background: rgb(237,237,237);
  text-align: center;
  line-height: 50px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.select-content-left {
  float:left;
  margin-left: 15px;
}
.select-content-right {
  float: right;
  margin-right: 15px;
}


/* the swipe part */
#playbill {
  width:100%;
  min-width:320px;
  height: 192px;
}

#nav {
  position:absolute;
  z-index:100;
  top:8px;
  width:200px;
  height:20px;
  left:50%;
  background:rgba(0,0,0,0.75);
  padding:0;
  margin:0 0 0 -100px;
  -webkit-border-radius:10px;
}

#nav li {
  display:block;
  float:left;
  width:14px;
  height:14px; line-height:14px;
  -webkit-border-radius:7px;
  background:rgba(255,255,255,0.1);
  overflow:hidden;
  padding:0;
  margin:3px 11px 0 0;
  text-align:center;
}

#nav li#prev {
  margin-left:5px;
  background:transparent;
}

#nav li#next {
  margin-right:0;
  background:transparent;
}

#nav li.selected {
  background:rgba(255,255,255,0.4);
}

#swipeview-slider > div {
  position:relative;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  overflow:hidden;
}

#swipeview-slider img {
  display:block;
  border:5px solid #eee;
  -webkit-box-shadow:0 2px 6px #000;
  -webkit-border-radius:2px;
  -webkit-transition-duration:.4s;
  -webkit-transition-property:opacity;
  opacity:1;
  pointer-events:none;
}

#swipeview-slider span {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  padding:20px 0;
  display:block;
  background:rgba(0,0,0,0.75);
  font-size:20px;
  text-align:center;
  text-shadow:0 1px 0 #000;
  border-top:1px solid rgba(255,255,255,0.2);
  -webkit-border-top-left-radius:10px;
  -webkit-border-top-right-radius:10px;
  -webkit-transition-duration:.3s;
  -webkit-transition-property:-webkit-transform;
  -webkit-transform:translate3d(0,100%,0);
}

#swipeview-slider .swipeview-active span {
  -webkit-transform:translate3d(0,0,0);
}

#playbill > div > .swipeview-loading {
  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#444), to(#555)),
    -webkit-gradient(linear, 0 0, 100% 0, from(#777), to(#777));
  background-position:50% 50%, 50% 50%;
  background-size:200px 140px, 210px 150px;
  background-repeat:no-repeat;
}

#playbill > div > .swipeview-loading img,
#swipeview-slider img.loading {
  -webkit-transition-duration:0;
  opacity:0;
}

#playbill > div > .swipeview-loading span {
  -webkit-transition-duration:0;
  -webkit-transform:translate3d(0,100%,0);
}
